body {
  height: 100%;
  overflow-y: scroll;
  width: 90% !important;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: rgb(64, 160, 197);
  margin-left: auto;
  margin-right: auto;
  }

.card {
  margin: 20px;
  background-color: rgb(64, 160, 197);
  text-align: left;
  font-size: large;
}

.cardTitle {
  text-align: center;
  margin: 30px 30px 50px;
  border: black 1px;
  border-style: solid;
  font-size: xx-large;
  background-color: rgb(99, 28, 46);
  
  
}