* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  height: 100%;
  overflow-y: scroll;
  width: 90% !important;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: rgb(64, 160, 197);
  margin-left: auto;
  margin-right: auto;
  }

.cardA {
  margin: 20px;
  background-color: rgb(64, 160, 197);
  text-align: left;
  font-size: large;
}

.cardTitle {
  text-align: center;
  max-width:100%;
  display: block;
 
  margin: 50px auto 50px auto;
  color:#eceaea;
  border: black 1px;
  border-style: solid;
  font-size: xx-large;
  background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;

  
  
}