.hero {
    height: 200px;
    width:100%;
    max-width: 2000px;
    background-size: cover;
    background-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
  
.heroBG {
  background-color: rgb(32, 29, 29);
}
